.app__home{
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: 20%;
    padding-bottom: 20%; */
    background-color: black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.app__home-h1{
    font-family: sans-serif;
    color: #DCCA87;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}

.section__padding {
    padding: 4rem 6rem;
  }
  
  .flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
  }
  
  .app__wrapper_info {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .app__wrapper_img {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-left: 2rem;
  }
  
  .app__wrapper_img img {
    width: 80%;
  }
  
  .custom__button {
    background-color: #e9a334;
      color: black;
      font-family: sans-serif;
      font-weight: 700;
      letter-spacing: 0.04em;
      line-height: 28px;
      font-size: 16px;
      padding: 0.5rem 1.5rem;
      border-radius: 1px;
      border: none;
      outline: none;
      cursor: pointer;
  }
  
  .p__sanserif {
    font-family: sans-serif;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 16px;
  }
  
  @media screen and (min-width: 2000px) {
    .custom__button,
    .p__sanserif {
      font-size: 30px;
      line-height: 50px;
    }
  
   
  }
  
  @media screen and (max-width: 1150px) {
    .app__wrapper {
      flex-direction: column;
    }
  
    .app__home-h1 {
      font-size: 37px;
      line-height: 67px;
    }
  
    .app__wrapper_img {
      margin: 5rem 0 0 0;
    }
  
    .app__wrapper_img img {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 850px) {
    .section__padding {
      padding: 4rem;
    }
  }
  
  @media screen and (max-width: 650px) {
    .section__padding {
      padding: 4rem 2rem;
    }
  
    .p__sanserif {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .p__sanserif {
      font-size: 12px;
    }
  }