.logo {
  background-image: url(../Pages/assets/logorockpaper.png);
  background-size: 100%;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 50px;
  width: 50px;
}

.menu {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a:-webkit-any-link {
  color: orange;
  cursor: pointer;
}

a:-webkit-any-link:hover {
  color: rgb(122, 81, 4);
  transition: 1s;
}
.midleware {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 30px;
}
